<% title="CSPP51083 - Assignment 7" %>
<!doctype html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <nav>
	<ul>
	  <li><a href="/" title="Index">Index</a></li>
	  <li><a href="/sns" title="SNS">SNS</a></li>
	  <li><a href="/new_contact" title="New_Contact">New Contact</a></li>
	</ul> 
      </nav>
    </header>
    <section>
    <%= yield %>
    </section>
  </body>
</html>
<p> by Andrew Melis </p>
